.container {
  display: flex;
  justify-content: space-between;
}

.user-form,
.user-table {
  width: 50%;
}

.user-details {
  padding: 10px;
}

.user-details > label {
  display: block;
  margin-bottom: 10px;
}

.user-details > input {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 6px;
  width: 90%;
}

button {
  margin-right: 5px;
  cursor: pointer;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
}
